# Optional: Nur notwendig für Sprachaufnahme (Speech-to-Text)
# -> ffmpeg muss manuell installiert werden: https://www.gyan.dev/ffmpeg/builds/
# -> streamlit-audiorecorder kann weggelassen werden, wenn die Funktion nicht gebraucht wird

notebook
ipywidgets
python-dotenv
IPython
openai
streamlit
streamlit-audiorecorder
lida